.hero {
    min-height: calc(100vh - 100px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;

    padding: 60px 70px;

    position: relative;

    overflow: hidden;
}


/* ========================= Texto ========================= */

.hero__content {
    width: 55%;

    position: relative;
    z-index: 2;
}

.hero__subtitle {
    font-size: 22px;

    color: #B9B0E8;

    margin-bottom: 5px;
}

.hero h1 {
    font-size: 58px;
    line-height: 1.05;

    margin-bottom: 10px;
}

.hero h1 span {
    display: block;

    color: #E51CAF;
}

.hero h2 {
    font-size: 22px;

    font-weight: normal;

    color: #FFFFFF;

    margin-bottom: 30px;
}

.hero__text {
    max-width: 560px;

    font-size: 16px;

    line-height: 1.6;

    color: #E5E1F5;

    margin-bottom: 25px;
}


/* ========================= Botoes========================= */

.hero__buttons {
    display: flex;

    align-items: center;

    gap: 12px;

    flex-wrap: wrap;
}

.hero__button {
    padding: 10px 18px;

    border-radius: 25px;

    font-size: 14px;

    transition: 0.3s;
}

.hero__button--primary {
    background: #E51CAF;

    color: white;
}

.hero__button--primary:hover {
    background: #ff35c1;
}

.hero__button--outline {
    border: 1px solid #B9B0E8;

    color: white;
}

.hero__button--outline:hover {
    background: #E51CAF;

    border-color: #E51CAF;
}


/* ========================= Redes Sociais ========================= */

.hero__social {
    width: 38px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: #E51CAF;

    color: white;

    font-weight: bold;

    transition: 0.3s;
}

.hero__social:hover {
    transform: translateY(-3px);
}


/* ========================= Imagem ========================= */

.hero__image {
    width: 45%;

    display: flex;

    justify-content: center;
    align-items: center;

    position: relative;
}

.hero__image img {
    width: 430px;

    max-width: 100%;

    position: relative;

    z-index: 2;
}


/* CÍRCULO ATRÁS DA IMAGEM */

.hero__circle {
    position: absolute;

    width: 330px;
    height: 330px;

    border: 8px solid #E51CAF;

    border-radius: 50%;

    z-index: 1;
}